<div class="slide-container swiper">
    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <video autoplay muted loop src="https://cdn-icons-mp4.flaticon.com/512/8121/8121295.mp4"
                            width="10px" height="10px" alt="" class="card-img"></video>
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Registro de Usuarios</h2>
                    <p class="description">
                        En este modulo podras Registrar a los Usuarios que usaran la
                        plataforma TechSoft
                    </p>

                    <button (click)="goToR($event)" id="btnsedittbl" class="nextBtn">
                        <span class="btnText">Entrar </span>
                    </button>
                </div>
            </div>

            <!-- <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <video autoplay muted loop src="https://cdn-icons-mp4.flaticon.com/512/8800/8800862.mp4"
                            width="10px" height="10px" alt="" class="card-img"></video>
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Edicion de Uusario</h2>
                    <p class="description">
                        En este Modulo podras editar los datos de los usuarios previamente
                        registradas
                    </p>

                    <button (click)="goTo($event)" id="btnsedittbl" class="nextBtn">
                        <span class="btnText">Entrar </span>
                    </button>
                </div>
            </div> -->

            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <video autoplay muted loop src="https://cdn-icons-mp4.flaticon.com/512/7211/7211817.mp4"
                            width="10px" height="10px" alt="" class="card-img"></video>
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Lista Usuarios</h2>

                    <p class="description">
                        En este Modulo podras ver la lista de usuarios registradas en la
                        plataforma TechSoft
                    </p>

                    <button (click)="goT($event)" id="btnsedittbl" class="nextBtn">
                        <span class="btnText">Entrar </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div>