agm-map{
  width: 400px;
  height: 400px;
}
.home-section {
  position: relative;
  background: linear-gradient(to right, rgb(69, 235, 182), 30%, #022543);
  min-height: 87vh;
  width: calc(100% - 150px);
  left: 130px;
  transition: all 0.5s ease;
  border-radius: 15px;
  text-align: center;
}

.home-section .home-content {
  position: static;
  padding-top: 75px;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 20px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 5px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 60px;
  }
  .home-section {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}

#contenedorbn {
  background: linear-gradient(top, #808080, 30%, #3fada8);

  margin-right: 60px;
}

/*   tercer css */

.container {
  width: 100%;
  background-color: #fff;
}

.panel {
  height: 575px;
}

/*SCROLL VIEW*/

.over::-webkit-scrollbar {
  width: 0px;
  background-color: #fff;
}

#panellistusuario{
  margin: 20px;
}

:host ::ng-deep .p-dropdown {
  width: 14rem;
  font-weight: normal;
}
:host ::ng-deep .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}
:host ::ng-deep .product-description {
  margin: 0 0 1rem 0;
}
:host ::ng-deep .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
:host ::ng-deep .product-category {
  font-weight: 600;
  vertical-align: middle;
}
:host ::ng-deep .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
:host ::ng-deep .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
  border-radius: 45px;
}
:host ::ng-deep .product-list-item .product-list-detail {
  flex: 1 1 0;
}
:host ::ng-deep .product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}
:host ::ng-deep .product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}
:host ::ng-deep .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}
:host ::ng-deep .product-list-item .p-button {
  margin-bottom: 0.5rem;
}
:host ::ng-deep .product-grid-item {
  margin: 0.5em;
  border: 1px solid #dee6e3;
}
:host ::ng-deep .product-grid-item .product-grid-item-top, :host ::ng-deep .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:host ::ng-deep .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}
:host ::ng-deep .product-grid-item .product-grid-item-content {
  text-align: center;
}
:host ::ng-deep .product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
  width: 90%;
  margin:auto;
  border: 15px;
  margin-top: 20px;
  


}

.product-image {
  width: 20%;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
      flex-direction: column;
      align-items: center;
 }
  :host ::ng-deep .product-list-item img {
      width: 75%;
      margin: 2rem 0;
 }
  :host ::ng-deep .product-list-item .product-list-detail {
      text-align: center;
 }
  :host ::ng-deep .product-list-item .product-price {
      align-self: center;
 }
  :host ::ng-deep .product-list-item .product-list-action {
      display: flex;
      flex-direction: column;
 }
  :host ::ng-deep .product-list-item .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
 }
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

#tarjetascontenedor{
  margin: 16px;
 
}










/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.product-card {
position: static;
max-width: 200px;
width: 100%;
border-radius: 25px;
padding: 20px 30px 30px 30px;
background: #6c7b78;
z-index: 3;
overflow: hidden;
margin-bottom: 15px;
margin-left: 15px;

}
.product-card .logo-cart{
display: flex;
align-items: center;
justify-content: space-between;
}
.product-card .logo-cart img{
height: 50px;
width: 50px;
object-fit: cover;
padding: 10px;
}
.product-card .logo-cart i{
font-size: 27px;
color: #707070;
cursor: pointer;
transition: color 0.3s ease;
}
.product-card .logo-cart i:hover{
color: #333;
}
.product-card .main-images{
position: relative;
height: 210px;
}
.product-card .main-images img{
position: absolute;
height: 30px;
width: 30px;
object-fit: cover;

left: 12px;
top: -40px;
z-index: -1;

transition: opacity 0.5s ease;
}
.product-card .main-images img.active{
opacity: 1;
}
.product-card .shoe-details .shoe_name{
font-size: 24px;
font-weight: 500;
color: #161616;
}
.product-card .shoe-details p{
font-size: 12px;
font-weight: 200;
color: #333;
text-align: justify;
}
.product-card .shoe-details .stars i{
margin: 0 -1px;
color: #333;
}
.product-card .color-price .color-option{
display: flex;
align-items: center;
}
.color-price{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}
.color-price .color-option .color{
font-size: 18px;
font-weight: 500;
color: #333;
margin-right: 8px;
}
.color-option  .circles{
display: flex;
}


.product-card .button{
position: relative;
height: 50px;
width: 100%;
border-radius: 25px;
margin-top: 30px;
overflow: hidden;
}
.product-card .button .button-layer{
position: absolute;
height: 100%;
width: 300%;
left: -100%;
background-color: #0df3a6;
background-color: #000000;
color: #fff;
transition: all 0.4s ease;
border-radius: 25PX;
border-bottom-color: rgb(8, 8, 8);
}
.product-card .button:hover .button-layer{
left: 0;
border-bottom-color: rgb(8, 8, 8);
background-color: #0df3a6;
color: #000000;

}
.product-card .button button{
position: relative;
height: 100%;
width: 100%;
background: none;
outline: none;
border: none;
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
color: rgb(254, 254, 254);
}





#tabla{
 width: 50%;
 height: 50%;
}

.circular--square{
  width: 200px;
  height: 200px;
  border-top-left-radius: 100% 100%;
  border-top-right-radius: 100% 100%;
  border-bottom-right-radius: 100% 100%;
  border-bottom-left-radius: 100% 100%;
}


body {
  font-family: "Open Sans", "Segoe WP", "Segoe UI", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #34495E;
    background: #FCFDFD;
  }
  
  a[href^="https://www.creativejuiz"] {
  color: #34495E;
  text-decoration: underline;
  }
  
  h1 {
  margin-top: 1em;
  }
  
  h2 {
  margin-top: 0;
  margin-bottom: 2em;
  color: #CB22ED;
  font-weight: normal;
  }
  
  form {
  width: 120px;
  margin: 0 auto 55px;
  text-align: left;
  }
  
  div p:first-child {
  font-weight: bold;
  font-size: 1.2em;
  }
  
  p { 
  color: #aaa;
  }
  
  p a {
  color: inherit;
  }
  
  p + p {
  margin-top: 3em;
  }
  
  form p {
  margin: 15px 0;
  color: #34495E;
  }
  
  a[href^="https://twitter.com"] {
  color: #1da1f2;
  }
  
  .btn.btn {
  display: inline-block;
  padding: 8px 24px;
  text-decoration: none;
  border-radius: 40px;
  background: #34495E;
  color: #F2F2F2;
  transition: all .4s;
  }
  
  .btn.btn:hover,
  .btn.btn:focus {
  background: #000;
  }

 

  agm-map{
    width: 400px;
    height: 400px;
  }



  .circular--square2 {
    width: 100px;
    height: 100px;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    border-bottom-left-radius: 100% 100%;
  }

































































