<div class="container">
    <mat-tab-group preserveContent>
        <mat-tab label="Registro de Usuarios">
            <div class="content">

                <p-panel id="paneregusuario" class="panel" header="Registro usuario">
                
                        <div class="form-progress">
                            <div><img src="../../../../../../assets/img/pelota.gif" class="plane" alt="" /></div>
                            <progress class="form-progress-bar" min="0" max="100" value="0" step="33"
                                aria-labelledby="form-progress-completion"></progress>
                            <div class="form-progress-indicator one active"></div>
                            <div class="form-progress-indicator two"></div>
                            <div class="form-progress-indicator three"></div>
                            <div class="form-progress-indicator four"></div>
    
                            <p id="form-progress-completion" class="js-form-progress-completion sr-only" aria-live="polite">
                                0% complete</p>
                        </div>
                    <div class="items panel over overflow-auto p-grid p-fluid">
                        <section id="step1" data-step="1">
                            <fieldset>
                                <div class="row">
                                    <div class="col">
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="persona.cedula"
                                                    [pKeyFilter]="'int'" maxlength="10" minlength="10"
                                                    (ngModelChange)='buscarPorCedula()' pInputText required>
                                                <label for="float-input">Cédula</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="persona.nombre"
                                                    [pKeyFilter]="blockSpecial" maxlength="30" minlength="3" pInputText>
                                                <label for="float-input">Nombres</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="persona.apellido"
                                                    [pKeyFilter]="blockSpecial" maxlength="30" minlength="3" pInputText>
                                                <label for="float-input">Apellidos</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="persona.email"
                                                    [pKeyFilter]="valCorreo" maxlength="30" minlength="6" pInputText>
                                                <label for="float-input">Correo</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="persona.direccion"
                                                pInputText>
                                                <label for="float-input">Direccion</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="date"
                                                    [(ngModel)]="persona.fechaNacimmiento" pInputText>
                                                <label for="float-input">Fecha de nacimiento</label>
                                            </span>
                                        </div>
                                  
                                    </div>
                                    
                                    <div class="col">
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <select pInputText placeholder="Sexo" type="text"
                                                    [(ngModel)]="persona.genero" id="genero" name="genero" required>
                                                    <option value="">Seleccione su género</option>
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Femenino">Femenino</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="persona.direccion"
                                                    [pKeyFilter]="blockSpecial" maxlength="40" minlength="10"
                                                    pInputText>
                                                <label for="float-input">Dirección</label>
                                            </span>
                                        </div>
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <p-inputMask id="float-input" mask="09-9999999"
                                                    [(ngModel)]="persona.telefono" placeholder=""></p-inputMask>
                                                <label for="float-input">Teléfono</label>
                                            </span>
                                        </div>
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <p-inputMask mask=" 0999999999" [(ngModel)]="persona.celular"
                                                    placeholder=""></p-inputMask>
                                                <label for="float-input">Celular</label>
                                            </span>
                                        </div>
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <input (change)="imageSelected($event)" formControlName="foto"
                                                    accept="image/*" name="foto" type="file" class="form-control"
                                                    id="float-input" required />
                                                <label for="float-input"></label>
                                            </span>
                                            <div *ngIf="file" class="mt-3 text-center">
                                                <img [src]="file" class="rounded" alt="..." style="max-width: 50%;" />
                                            </div>
                                            <div>
                                                <img alt="..." style="max-width: 50%;" [src]="'http://localhost:5000/image/images/' + persona.foto"/>
                                            </div>
                                        </div>

                                        <div class="p-col-12 p-md-4">
                                            <button pButton pRipple type="button" label="Registrarse" icon="pi pi-check"
                                                iconPos="right" class="p-button-rounded p-button-primary"
                                                (click)="registrarPersona()" ></button>
                                        </div>
                                        <span>
    
                                        </span>
                                        <div class="p-col-12 p-md-4">
                                            <button [disabled]="!isButtonEnabled" pButton pRipple type="button" label="Next" icon="pi pi-check"
                                                iconPos="right" id="korak2" class="btn next" ></button>
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                        </section>

                

                        <section id="step2" class="form-step hidden"  data-step="2">
                            <fieldset>
                                <div class="row">
                                    <div class="col">
                                        <div class="p-col-3 p-md-4">
                                            <span class="p-float-label">
                                                <input id="float-input" type="text" [(ngModel)]="usuario.username"
                                                    [pKeyFilter]="'alphanum'" maxlength="30" minlength="3" pInputText>
                                                <label for="float-input">Username</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 p-md-4">
                                            <span class="p-float-label">
                                                <p-password [toggleMask]="true" name="password"
                                                    [(ngModel)]="usuario.password" [pKeyFilter]="'alphanum'"
                                                    maxlength="15" minlength="6">
                                                    <ng-template pTemplate="header">
                                                        <h6>Pick a password</h6>
                                                    </ng-template>
                                                    <ng-template pTemplate="footer">
                                                        <p-divider></p-divider>
                                                        <p class="mt-2">Suggestions</p>
                                                        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                                            <li>Al menos una minúscula</li>
                                                            <li>Al menos una mayúscula</li>
                                                            <li>Al menos un número</li>
                                                            <li>Minimo 6 caracteres</li>
                                                        </ul>
                                                    </ng-template>
                                                </p-password>
                                                <label for="float-input">Password</label>
                                            </span>
                                        </div>
                                        <div class="p-col-3 p-md-4">
                                            <p-dropdown [options]="listaRoles" [(ngModel)]="rol" placeholder="Rol"
                                                optionLabel="nombre" [filter]="true" [showClear]="true"
                                                appendTo="body"></p-dropdown>
                                        </div>

                                    </div>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="persona.cedula"
                                            [pKeyFilter]="'int'" maxlength="10" minlength="10"
                                            (ngModelChange)='buscarPorCedula()' pInputText required>
                                        <label for="float-input">Cédula</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input [disabled]="!isinactivo" id="float-input" type="text" [(ngModel)]="persona.nombre"
                                            [pKeyFilter]="blockSpecial" maxlength="30" minlength="3" pInputText>
                                        <label for="float-input">Nombres</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input [disabled]="!isinactivo" id="float-input" type="text" [(ngModel)]="persona.apellido"
                                            [pKeyFilter]="blockSpecial" maxlength="30" minlength="3" pInputText>
                                        <label for="float-input">Apellidos</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <button id="btnreg" pButton pRipple type="button" label="Registrar Usuario"
                                        icon="pi pi-check" iconPos="right" class="p-button-rounded p-button-primary"
                                        (click)="registrarUsuario()"></button>
                                </div>
                                <span>

                                </span>
                                <div class="p-col-12 p-md-4">
                                    <button [disabled]="!isButtonEnabled2" pButton pRipple type="button" label="Next" icon="pi pi-check"
                                        iconPos="right" id="korak2" class="btn next" ></button>
                                </div>

                            </fieldset>
                        </section>

                
                            <section id="step3" class="form-step hidden" data-step="3">
                                <fieldset>
                                    <div class="row">
                                        <div class="col">
                                            <div class="col-xs-12 col-sm-12">
                                                <h2>Registro Exitoso</h2>
                                            </div>
                                            <div class="col-xs-12 col-sm-6" class="center-image">
        
                                                <img src="../../../../../../../assets/img/Registrobueno.png" alt="">
        
        
                                            </div>
        
                                            <div class="col-xs-12 col-sm-12 right">
        
                                                <button type="button" id="korak2" class="btn next" (click)="recargar($event)">Next</button>
        
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                            </section>
                        </div>
                </p-panel>

            </div>
        </mat-tab>

        <mat-tab label="Listado Usuarios" routerLink="../edit-usuarios" routerLinkActive="active">
            <!-- <a class="nav-link" aria-current="true" routerLink="../edit-user"
                            routerLinkActive="active">Registrar nueva empresa</a>
                            -->
            <app-edit-usuarios></app-edit-usuarios>
        </mat-tab>

    </mat-tab-group>

</div>