<body class="d-flex h-100 text-center ">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div class="container">
      <div class="card">
        <div class="top-row background-top-row"> <img
          src="../../../../../../assets/img/pelota.gif" width="100px"
            height="100px"> </div>

        <div class="content"> <i class="fa fa-lock" aria-hidden="true"></i>
          <h1>Iniciar Sesion</h1>
          <h1>ReserverGame</h1>

          <div class="p-grid p-fluid">
            <div class="p-field">
              <label for="username1">Username</label>
              <input id="username1" type="username" aria-describedby="username1-help" [(ngModel)]="usuario.username"
                [pKeyFilter]="'alphanum'" maxlength="30" minlength="3" pInputText />
              <small id="username1-help">Ingresa tu nombre de usuario</small>
            </div>
            <br>
            <div class="p-field">
              <label for="username1">Password</label>
              <p-password [toggleMask]="true" [feedback]="false" [(ngModel)]="usuario.password"
                [pKeyFilter]="'alphanum'" maxlength="15" minlength="6"></p-password>
              <small id="username1-help">Ingresa tu contraseña</small>
            </div>
            <br>
            <br>
            <div class="p-col-12 p-md-4">
              <button pButton pRipple type="button" label="Ingresar" icon="pi pi-check" iconPos="right"
                class="p-button-rounded p-button-primary" (click)="login()"></button>
            </div>
            <div style="text-align: center;">
              <label>Aun no tienes cuenta? <a class="py-2 d-none d-md-inline-block" routerLink="../register-usr"
                  routerLinkActive="false">registrate aqui</a></label>
            </div>
          </div>

        </div>
        <div class="networks background-top-row"> <i class="fa fa-facebook" aria-hidden="true"></i> <i
            class="fa fa-google" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>

</body>