/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent),
  url(../../../../../../assets/img/portada2.jpg);
background-repeat: no-repeat;
background-size: cover;
  /* background: linear-gradient(rgba(0,0,0,0.4), transparent), url(https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80);
  
background: linear-gradient(rgba(0,0,0,0.4), transparent), url(https://images.unsplash.com/photo-1537498425277-c283d32ef9db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2078&q=80);
  

*/

  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 15px;
  width: 100hv;
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.contenedor {
  height: 85vh;
  padding-top: 200px;
}
#btns {
  background-color: rgb(218, 211, 211);
  border-bottom-color: rgb(2, 2, 2);
  border-color: black;
  border-radius: 3rem;

  font-size: 1.2rem;
  padding: 0.5rem 0.3rem;
  letter-spacing: 0.1rem;

  width: 50%;
  height: 3rem;
}

#btns:hover,
#btns:focus {
  color: black;
  border-bottom-color: rgb(8, 8, 8);

  border-color: black;
  background-color: rgb(13, 243, 166);
}

:root {
  --white-text: #fff;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  overflow: hidden;
  width: 25rem;
  height: 40rem;
  backdrop-filter: blur(1rem);
  background-color: rgba(255, 255, 255, 0.06);
  color: var(--white-text);
}
.card:hover,
.card:focus {
  text-shadow: rgb(13, 243, 166);
  border-bottom-color: rgb(237, 10, 10);

  border-color: rgb(13, 243, 166);
  box-shadow: 2px 2px 2px 2px rgb(13, 243, 166);
}

#contenedorblanco {
  filter: blur(5px);
}

.top-row {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-row i {
  font-size: 4rem;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.content i {
  font-size: 2.5rem;
}

.content p {
  font-size: 0.9rem;
  align-self: center;
}

.text {
  width: 100%;
  height: 3rem;
  color: rgb(97, 94, 94);
  font-size: 1.2rem;
  border-radius: 15px;
}

button {
  margin-top: -25px;
  border-radius: 3rem;
  color: var(--white-text);
  font-size: 1.2rem;
  padding: 0.5rem 0.3rem;
  letter-spacing: 0.1rem;
  background-color: rgba(174, 58, 180, 0.3);
  width: 50%;
  height: 3rem;
}

input {
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  border-radius: 1rem;
}

:host ::ng-deep .p-password-input {
  border-radius: 1rem;
}

.networks {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
}

/* media queries */
@media (max-width: 1030px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
