
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

.cover-container {
  max-width: 42em;
 
}


.home-section{
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.4), transparent), url(../../../../../../assets/img/botascambiantes.gif);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 87vh;
  width: calc(100% - 10px);
  left: 5px;
  transition: all 0.5s ease;
  border-radius: 15px;

 
  
}

.contenedor{
    
    padding-top: 100px;
    
}
#btns{
    background-color: rgb(218, 211, 211);
    border-bottom-color: rgb(2, 2, 2);
    border-color: black;
    margin: 50px;
    padding: 15px;
}

#btns:hover,
#btns:focus {
    color:rgb(241, 241, 241) ;
    border-bottom-color: rgb(8, 8, 8);
  
    border-color: black;
    background-color:  rgb(9, 9, 9);
    
}






















































































/*  */
