<body class="d-flex h-100 text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <div class="container">
            <div class="card">
                <div class="top-row background-top-row"> </div>

                <div class="content"> <i class="fa fa-lock" aria-hidden="true"></i>
                    <h1>Registrar Usuario</h1>
                    <h1>ReserverGame</h1>
                    <div class="form-progress">
                        <div><img src="../../../../../../assets/img/pelota.gif" class="plane" alt="" /></div>
                        <progress class="form-progress-bar" min="0" max="100" value="0" step="33"
                            aria-labelledby="form-progress-completion"></progress>
                        <div class="form-progress-indicator one active"></div>
                        <div class="form-progress-indicator two"></div>
                        <div class="form-progress-indicator three"></div>
                        <div class="form-progress-indicator four"></div>

                        <p id="form-progress-completion" class="js-form-progress-completion sr-only" aria-live="polite">
                            0% complete</p>
                    </div>

                    <div class="items panel over overflow-auto p-grid p-fluid">

                        <section id="step1" data-step="1">
                            <fieldset>
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" [(ngModel)]="persona.cedula" pInputText (ngModelChange)='buscarPorCedula()'>
                                            <label for="float-input" >Cedula</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class={{verfNombres}}
                                                [(ngModel)]="persona.nombre" pInputText>
                                            <label for="float-input">Nombre</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class={{verfApellidos}}
                                                [(ngModel)]="persona.apellido" pInputText>
                                            <label for="float-input">Apellidos</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" class={{verfCorreo}}
                                                [(ngModel)]="persona.email" (ngModelChange)="validarCorreo()"
                                                pInputText>
                                            <label for="float-input">Email</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="date" [(ngModel)]="persona.fechaNacimmiento"
                                                pInputText>
                                            <label for="float-input"></label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <select pInputText placeholder="Sexo" type="text"
                                                [(ngModel)]="persona.genero" id="genero" name="genero" required>
                                                <option value="">Seleccione su género</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                            </select>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" [(ngModel)]="persona.celular"
                                                pInputText>
                                            <label for="float-input">Celular</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input id="float-input" type="text" [(ngModel)]="persona.telefono"
                                                pInputText>
                                            <label for="float-input">Telefono</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-4">
                                        <span class="p-float-label">
                                            <input (change)="imageSelected($event)" formControlName="foto"
                                                accept="image/*" name="foto" type="file" class="inputbox"
                                                id="float-input" required />
                                            <label for="float-input">Foto</label>
                                        </span>
                                        <div *ngIf="file" class="mt-3 text-center">
                                            <img [src]="file" class="rounded" alt="..." style="max-width: 50%;" />
                                        </div>
                                        <div>
                                            <img alt="..." style="max-width: 50%;" [src]="'http://localhost:5000/image/images/' + persona.foto"/>
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="p-col-12 p-md-4">
                                        <button pButton pRipple type="button" label="Registrarse" icon="pi pi-check"
                                            iconPos="right" class="p-button-rounded p-button-primary"
                                            (click)="registrarPersona()" ></button>
                                    </div>
                                    <span>

                                    </span>
                                    <div class="p-col-12 p-md-4">
                                        <button [disabled]="!isButtonEnabled" pButton pRipple type="button" label="Next" icon="pi pi-check"
                                            iconPos="right" id="korak2" class="btn next" ></button>
                                    </div>

                                </div>
                            </fieldset>
                        </section>
                       


                        <section id="step2" class="form-step hidden" data-step="2">
                            <fieldset>
                                <div class="p-col-3 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" class={{verfUsername}}
                                            [(ngModel)]="usuario.username" pInputText>
                                        <label for="float-input">Username</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <p-password [toggleMask]="true" class={{verfPassword}}
                                            [(ngModel)]="usuario.password"></p-password>
                                        <label for="float-input">Password</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" [(ngModel)]="persona.cedula" pInputText>
                                        <label for="float-input" (input)="buscarPorCedula()">Cedula</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" class={{verfNombres}}
                                            [(ngModel)]="persona.nombre" pInputText>
                                        <label for="float-input">Nombre</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <span class="p-float-label">
                                        <input id="float-input" type="text" class={{verfApellidos}}
                                            [(ngModel)]="persona.apellido" pInputText>
                                        <label for="float-input">Apellidos</label>
                                    </span>
                                </div>
                                <div class="p-col-12 p-md-4">
                                    <button pButton pRipple type="button" label="Registrarse" icon="pi pi-check"
                                        iconPos="right" class="p-button-rounded p-button-primary"
                                        (click)="registrarUsuario()" ></button>
                                </div>
                                <span>

                                </span>
                                <div class="p-col-12 p-md-4">
                                    <button [disabled]="!isButtonEnabled2" pButton pRipple type="button" label="Next" icon="pi pi-check"
                                        iconPos="right" id="korak2" class="btn next" ></button>
                                </div>
                            </fieldset>
                        </section>

                        <section id="step2" class="form-step hidden" data-step="3">
                            <fieldset>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <h2>Registro Exitoso</h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6" class="center-image">

                                        <img src="../../../../../../assets/img/Registrobueno.png" alt="">


                                    </div>

                                    <div class="col-xs-12 col-sm-12 right">

                                        <button type="button" id="korak2" class="btn next">Next</button>

                                    </div>
                                </div>
                            </fieldset>
                        </section>
                    </div>
                </div>
                <div class="networks background-top-row"> <i class="fa fa-facebook" aria-hidden="true"></i> <i
                        class="fa fa-google" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
            </div>

        </div>

    </div>

</body>