<div class="slide-container swiper">
    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <video autoplay muted loop src="https://cdn-icons-mp4.flaticon.com/512/6172/6172553.mp4"
                            width="10px" height="10px" alt="" class="card-img"></video>
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Registro de Empresa</h2>
                    <p class="description">
                        En este modulo podras Registrar a las empresas que usaran la
                        plataforma TechSoft
                    </p>

                    <button (click)="goToR($event)" id="btnsedittbl" class="nextBtn">
                        <span class="btnText">Entrar </span>
                    </button>
                </div>
            </div>

            <!-- <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <video autoplay muted loop src="https://cdn-icons-mp4.flaticon.com/512/6454/6454112.mp4"
                            width="10px" height="10px" alt="" class="card-img"></video>
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Edicion de Empresas</h2>
                    <p class="description">
                        En este Modulo podras editar los datos de las empresas previamente
                        registradas
                    </p>

                    <button (click)="goTo($event)" id="btnsedittbl" class="nextBtn">
                        <span class="btnText">Entrar </span>
                    </button>
                </div>
            </div> -->

            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <video autoplay muted loop src="https://cdn-icons-mp4.flaticon.com/512/8722/8722658.mp4"
                            width="8px" height="8px" alt="" class="card-img"></video>
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">Lista Empresas</h2>

                    <p class="description">
                        En este Modulo podras ver la lista de empresas registradas en la
                        plataforma TechSoft
                    </p>

                    <button (click)="goTo($event)" id="btnsedittbl" class="nextBtn">
                        <span class="btnText">Entrar </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div>